<div class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Tedu</b> Shop</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">{{resourceShared.LoginSystem}}</p>
                <form role="form" method="post" ng-submit="onLoginSubmit()">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" ng-model="loginData.userName" placeholder={{resourceShared.UserName}}>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" ng-model="loginData.password" placeholder={{resourceShared.Password}}>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    {{resourceShared.RememberMe}}
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block" style="font-size: 13px; padding: 13px">{{resourceShared.SignIn}}</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <div class="social-auth-links text-center mb-3">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> {{resourceShared.SignInUsingFacebook}}
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> {{resourceShared.SignInUsingGmail}}
                    </a>
                </div>
                <!-- /.social-auth-links -->
                <p class="mb-1">
                    <a href="forgot-password.html"> {{resourceShared.ForgotPassword}}</a>
                </p>
                <p class="mb-0">
                    <a href="register.html" class="text-center"> {{resourceShared.SignInUsingGmail}}</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
</div>
