<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{resourcePage.AddUserRole}}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a ui-sref="home">{{resourceShared.Home}}</a></li>
                    <li class="breadcrumb-item"><a ui-sref="products">{{resourceShared.System}}</a></li>
                    <li class="breadcrumb-item"><a ui-sref="product_categories">{{resourceShared.UserRole}}</a></li>
                    <li class="breadcrumb-item active">{{resourceShared.Add}}</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <!-- /.card -->
    <!-- Horizontal Form -->
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">{{resourceShared.Add}}</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddApplicationRole" role="form" ng-submit="onAddApplicationRole()">
            <div class="card-body">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">{{resourcePage.RoleName}}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" required ng-maxlength="250" ng-model="applicationRole.Name" placeholder="{{resourcePage.RoleName}}">
                        <span ng-show="frmAddApplicationRole.name.$error.required" class="text-danger text-error-validation">{{resourcePage.RoleNameIsRequired}}</span>
                        <span ng-show="frmAddApplicationRole.name.$error.maxlength" class="text-danger text-error-validation">{{resourcePage.RoleNameIsOnly250CharsLong}}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">{{resourcePage.Description}}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="description" ng-maxlength="500" ng-model="applicationRole.Description" placeholder="{{resourcePage.Description}}">
                        <span ng-show="frmAddApplicationRole.description.$error.maxlength" class="text-danger text-error-validation">{{resourcePage.DescriptionIsOnly250CharsLong}}</span>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button ui-sref="application_roles" class="btn btn-default">{{resourceShared.Cancel}}</button>
                <button type="submit" ng-disabled="frmAddApplicationRole.$invalid" class="btn btn-success float-right">{{resourceShared.Save}}</button>
            </div>
            <!-- /.card-footer -->
        </form>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->