<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="pageSize" value="3"/>
  <add key="maxPage" value="5"/>
  <add key="numLatestProduct" value="3"/>
  <add key="numTopSaleProduct" value="3"/>
  <add key="topRelatedProduct" value="3"/>

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="lenhanasus4@gmail.com"/>
  <add key="FromEmailPassword" value="1234567890"/>
  <add key="FromName" value="TEDUSHOP"/>
  <add key="AdminEmail" value="lenhanasus4@gmail.com"/>
  <add key="CurrentLink" value="http://localhost:54332/"/>
  
  <add key="BIG_SHOPE_ClientId" value="BIG_SHOPE"/>
  <add key="BIG_SHOPE_ClientSecret" value="9ebdca36-9c0a-4c57-8dc6-2636af8777aa"/>
</appSettings>