<connectionStrings>
  <clear />
  <!--<add name="TeduShopConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLSERVER2019;Initial Catalog=TeduShop;Integrated Security=False;User Id=sa;Password=Lanhan123;MultipleActiveResultSets=True" />-->
	<add name="TeduShopConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLSERVER2019;Initial Catalog=TeduShop;Integrated Security=False;User Id=saa;Password=Lanhan@123;MultipleActiveResultSets=True"/>
</connectionStrings>